.img{
    width: 193px;
    margin-left: 590px;
    margin-top: 60px;
}
.align{
    margin-left: 599px;
}
.content-align{
    margin-top: 32px
}
.btn{
    margin-top: 20px;
    width: 77px;
    background-color: forestgreen;
}