<div>
    <img src="../../assets/Image/isteerlogo.png" class="img">
</div>
<div class="align">
    <form id="login-form">
        <div class="content-align">
        <span>UserName:<br><input id="user" type="text" name="user" [(ngModel)]="user"></span><br>
        Password:<br><input id="password" type="password" name="password"  [(ngModel)]="password"><br>
        <button type="button" id="login-submit" class="btn" (click)="onSubmit()"><span style="color: white;">Submit</span></button>
        </div>
    </form>
    <div>
        <router-outlet></router-outlet>
</div>
</div>