<div>
  
  <!-- <div>
      <app-header></app-header>
  </div> -->
  <div>
      <a routerLink="/login" routerLinkActive="active"></a>
  </div>
  <div>
      <router-outlet></router-outlet>
  </div>

  <!-- <div>
      <app-footer></app-footer>
  </div> -->
</div>